<footer>
    <div class="container">
        <div class="row">
            <div class="col-4 footer__info">
                <p><i class="fas fa-store"></i> Địa chỉ nhà sách: 280 An Dương Vương, Quận 5 thành phố Hồ Chí Minh</p>
                <p><i class="fas fa-clock"></i> Giờ mở cửa: 8h30 sáng đến 9h tối các ngày trong tuần</p>
                <p><i class="fab fa-facebook"></i> Fanpage: <a href="https://www.facebook.com" target="_blank">https://www.facebook.com</a></p>
            </div>
            <div class="col-4 footer__nav">
                <a href="#" class="iblck">#TruyenKinhDi</a>
                <a href="#" class="iblck">#TruyenThieuNhi</a>
                <a href="#" class="iblck">#TieuThuyet</a>
                <a href="#" class="iblck">#VanHocVietNam</a>
                <a href="#" class="iblck">#VanHocNuocNgoai</a>
            </div>
            <div class="col-4 footer__map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.6511106447715!2d106.68001421428689!3d10.761348962415688!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1b888ab357%3A0xc469f6e800231314!2zMjgwIEFuIETGsMahbmcgVsawxqFuZywgUGjGsOG7nW5nIDQsIFF14bqtbiA1LCBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1570035092189!5m2!1svi!2s" width="100" height="100" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</footer>