<div class="container-fluid topmenu sticky">
    <div class="container txt-center">
        <a asp-action="BookListCategory" asp-controller="Home" asp-route-id="1" class="topmenu__href">Truyện thiếu nhi</a>
        <a asp-action="BookListCategory" asp-controller="Home"  asp-route-id="2" class="topmenu__href">Truyện tranh</a>
        <a asp-action="BookListCategory" asp-controller="Home"  asp-route-id="3" class="topmenu__href">Tiểu thuyết</a>
        <a asp-action="BookListCategory" asp-controller="Home"  asp-route-id="4" class="topmenu__href">Truyện kinh dị</a>
        <a asp-action="BookListCategory" asp-controller="Home"  asp-route-id="5" class="topmenu__href">Văn học Việt Nam</a>
        <a asp-action="BookListCategory" asp-controller="Home"  asp-route-id="6" class="topmenu__href">Văn học Nước ngoài</a>
    </div>
</div>