<!DOCTYPE html>
<html lang="vi">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="author" content="Huỳnh Trương Chí Quân">
    <meta name="description" content="Website nhà sách Mini">
    <link rel="icon" href="#">
    <link rel="stylesheet" href="~/bootstrap4/css/bootstrap.css">
    <link rel="stylesheet" href="~/fas/css/all.css">
    <link rel="stylesheet" href="~/css/atomic.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link href="https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>
    <script src="~/js/site.js"></script>
</head>
<body>
    
    <div class="container-fluid body relative">
        <partial name="~/Views/User/_HeaderPartial.cshtml" />
        @if (ViewBag.Category == null) {
            @await Component.InvokeAsync("NavBar");
        }
        @RenderBody()
        <partial name="~/Views/User/_FooterPartial.cshtml" />
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
        // Script này để sửa lỗi "fn" trong file util.js và đảm bảo carousel hoạt động
    </script>
    <script src="~/bootstrap4/js/bootstrap.min.js"></script>
    <script src="~/fas/js/all.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", false);
</body>
</html>
